<div style="position: relative;">
  <img src="{{bannerImg}}"  class="col s12 banner-img">
  <div class="shade"></div>
  <h4 class="centered-header">Welcome to your home of food! The MealDB.</h4>
</div>

<div class="container">
  <h1 class="center-align">We are all about food.</h1>
  <h6 class="center-align">- o - o - o -</h6>
  <p class="center-align">Listen to the people who love you. Believe that they are worth living for even when you don't believe it. Seek out the memories depression takes away and project them into the future. Be brave; be strong; take your pills. Exercise because it's good for you even if every step weighs a thousand pounds. Eat when food itself disgusts you. Reason with yourself when you have lost your reason.</p>
  <p class="center-align"> ― Andrew Solomon, The Noonday Demon: An Atlas of Depression</p>

  <hr>

  <div class="row" style="margin-top: 10%;">

    <div class="col s3"></div>

    <div class="col s6 center-align">
      <div class="card">
        <div class="card-image">
          <img src="{{meal?.strMealThumb}}" class="card-img">
          <span class="card-title">{{meal?.strMeal}}</span>
        </div>
        <div class="card-content">
          <h4>Today's Special</h4>
        </div>
        <div class="card-content">
          <p>{{meal?.strInstructions}}</p>
        </div>
      </div>
    </div>

    <div class="col s3"></div>

  </div>

</div>
